version: '3.4'
services:
  webdav-nginx:
    build:
      context: ..
      dockerfile: Dockerfile.nginx
    environment:
      - CERT_PATH
      - WEBDAV_DOMAIN
      - WEBDAV_USER_DATA
    image: ${DOCKER_IMAGE}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ${WEBDAV_DIRECTORY}:/var/www/journal:rw
      - ../data/certbot/conf:/etc/letsencrypt:rw
      - ../data/certbot/www:/var/www/certbot:rw  
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    volumes:
      - ../data/certbot/conf:/etc/letsencrypt:rw
      - ../data/certbot/www:/var/www/certbot:rw
